body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #222;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: skyblue;
    color: white;
    border: none;

}

.search-bar {
    margin-bottom: 50px;
}

.search-bar {
    border: 2px solid black;
    padding: 8px;
    border-radious: 5px;

}


